<span class="titulo-grande">Aviso de privacidad simplificado</span>
<p>&nbsp;</p>
<p>El Colegio de México, A.C. es el responsable del tratamiento y resguardo de los datos personales que usted como persona física proporciona al registrarse como usuario a través de los sitios web <a class="uk-link href="https://www.colmex.mx">https://www.colmex.mx</a> y <a class="uk-link" href="http://agenda.colmex.mx" target="_blank">agenda.colmex.mx</a>.</p>

<p>Sus datos personales podrán ser utilizados para atender las solicitudes, peticiones y requerimientos que realice como usuario, contar con datos de control, estadísticos e informes sobre los servicios brindados; promover las actividades institucionales de difusión, realizar reportes y encuestas de calidad, así como para fines de contacto y transmisión de eventos educativos, de investigación y culturales vía diversas plataformas digitales.</p>

<p>Los datos personales que proporcione serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados y los Lineamientos Generales de Protección de Datos Personales para el Sector Público, bajo los principios de licitud, finalidad, lealtad, consentimiento, calidad, proporcionalidad, información y responsabilidad, así como con las medidas de seguridad pertinentes.</p>

<p>Toda transferencia de datos personales, sea ésta nacional o internacional, se encuentra sujeta al consentimiento de su titular, salvo las excepciones previstas en los artículos 22, 66 y 70 de Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.</p>

<p>El aviso de privacidad integral se podrá consultar también en esta dirección electrónica: <a class="uk-link">https://www.colmex.mx/es/aviso-privacidad</a>.</p>

