<div class="row" id="div_footer"> <!-- Fila para footer -->
	<!-- <div class="col-md-12" id="div_footer">  Columnas para footer -->
		<div class="col-md-3">

		</div>
		<div class="col-md-6">
			<%= image_tag("colmex-pie.png", :id => "img_footer") %>
		</div>
		<div class="col-md-3">

		</div>
	</div> <!-- Cierre de columnas para footer -->
</div> <!-- Cierre de fila para footer -->
