<%= render 'principal/barra' %>
<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">
		<div class="uk-width-1-1">
		  <span class="titulo-grande"><%= t('footer.liga1') %></span><br>
		  <p>&nbsp;</p>
			<%= params[:locale] == "es" ? @pars[0].texto.html_safe : @pars[0].texto_ingles.html_safe %>
    </div> 
	</div>

<%= render 'principal/footer' %>
