<%= render 'principal/barra' %>

          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4wHeWYcnK5EHh3wVczNt0xUQVhjeeUu0"></script>
        
        <script type="text/javascript">
            google.maps.event.addDomListener(window, 'load', init);
            google.maps.event.addDomListener(window, 'page:load', init);
        
            function init() {
                var mapOptions = {
                    zoom: 15,
                    mapTypeControl: false,
                    center: new google.maps.LatLng(19.3040195, -99.20807279999997), 

                    styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
                };

                var mapElement = document.getElementById('map');

                var map = new google.maps.Map(mapElement, mapOptions);

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(19.3040195, -99.20807279999997),
                    map: map,
                    title: 'El Colegio de México'
                });

		google.maps.event.addDomListener(window, 'resize', function() {
    map.setCenter(new google.maps.LatLng(19.3040195, -99.20807279999997));
});
            }
        </script>

<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">

<div class="uk-width-1-1">
    <span class="titulo-grande">Como llegar</span><br>
    <p>&nbsp;</p>
    <!--          Aquí empieza el contenido de como llegar          -->
    <div class="uk-grid uk-grid-large">
    <div class="uk-width-large-2-6 uk-text-left">
    <h2><span class="vino">El Colegio de México, A.C.</span></h2>
    <h3>Camino al Ajusco No. 20 <br>
Colonia Pedregal de Santa Teresa <br>
C.P. 10740 <br>
México, Ciudad de México</h3>
    <a href="https://www.google.com.mx/maps/dir//El+Colegio+de+M%C3%A9xico+A.C.,+Camino+al+Ajusco+20,+Tlalpan,+Pedregal+de+Santa+Teresa,+Equipamiento+Perif%C3%A9rico+Picacho+Ajusco+Canal+13,+10740+Ciudad+de+M%C3%A9xico,+D.F./@19.3035167,-99.2428773,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x85ce017458913985:0xa6be0527e2998dd8!2m2!1d-99.207858!2d19.30352" target="_blank" class="ver-mas uk-button-small">Ver direcciones</a>
    </div>
    <div class="uk-width-large-4-6">
    <div id="map"></div>
    </div>
    </div>
    </div>


	</div>
<%= render 'principal/footer' %>
