<%= render 'principal/barra' %>

<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo">
		<% @resultados.each do |r| %>
			<% if r.is_a?(Curso) %>
				<%= "Curso: " + r.titulo %>
			<% elsif r.is_a?(Descubre) %>
				<%= "Descubre: " + r.titulo %>
			<% end %>
		<br>
		<% end %>
	</div>

<%= render 'principal/footer' %>
