<%= render 'principal/barra' %>

<div id="cuerpo">
	<div class="row">
		<div class="col-md-6" id="img-menus">
		</div>
		<div class="col-md-6 col-md-offset-6" id="texto-sobre">
		</div>
	</div>
</div>

<%= render 'principal/footer'%>
