<%= render 'principal/barra' %>

<div id="cuerpo">
	<div class="row">
		<div id="img-menus">
				<a href=<%= image_url("sobre.png") %> data-uk-lightbox data-lightbox-type="image">
					<%= image_tag("sobre.png") %>
				</a>
		</div>
		<div id="texto-sobre">
		</div>
	</div>
</div>

<%= render 'principal/footer'%>
