<%= render "principal/barra" %>

<div class="container-fluid" id="resto-cuerpo">
<div id="cuerpo" class="principal-chica uk-block-large">

<div class="uk-width-1-1">
    <span class="titulo-grande">Relación de bienes muebles e inmuebles</span><br>
    <p>&nbsp;</p>
    <p>La relación de los Bienes Muebles e Inmuebles de El Colegio de México se encuentra en el siguiente listado de archivos descargables:</p>
    <ul id="lista">
      <% @transparencias.each do |t| %>
      <li class="link-rel"><a href=<%= t.archivo.url %> target="_blank"><%= t.nombre %></a></li>
      <% end %>
    </ul>
    </div>

</div>
<%= render "principal/footer" %>
