<p>Para ser admitido como estudiante regular en alguno de los programas docentes ofrecidos por El Colegio de México, los aspirantes deben someterse a un proceso de selección,  cuyas características, términos y períodos son establecidos por la Junta de Profesores-Investigadores de cada Centro, órgano colegiado máximo del mismo. El proceso de admisión considera los siguientes aspectos: a) análisis del curriculum académico y antecedentes del candidato, entre los cuales deben encontrarse dos referencias personales (académicas), copia de los certificados de terminación y de titulación del nivel académico anterior; b) exámenes orales o escritos, c) entrevistas personales y, si es el caso, d) aprobar el curso propedéutico que se imparta.</p>
		  <p>Una vez reunidos los resultados de las evaluaciones, la Junta de Profesores-Investigadores del Centro respectivo decide quiénes son admitidos como estudiantes regulares para cursar el programa; su decisión es inapelable y es comunicada a los candidatos vía el Coordinador Académico o el Director del Centro.</p>
		  <p>Una vez aceptados, los estudiantes deben entregar en la Dirección de Asuntos Escolares los documentos que se señalen en cada caso, con objeto de integrar su expediente académico y realizar su inscripción.</p>

		  <h2 class="vino">Documentación:</h2>
		  <ul class="uk-list uk-list-space uk-margin-large-bottom">
		  <li><a href=<%= asset_path("nuevo-ingreso-licenciatura.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link">Estudiantes de nuevo ingreso Licenciatura</a></li>
		  <li><a href=<%= asset_path("nuevo-ingreso-posgrados-mexicanos.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link">Estudiantes Mexicanos de nuevo ingreso a Maestrías y Doctorados</a></li>
		  <li><a href=<%= asset_path("nuevo-ingreso-posgrados-extranjeros.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link">Estudiantes Extranjeros de nuevo ingreso a Maestrías y Doctorados</a></li>
		  </ul>
