<%= render 'principal/barra' %>

<div id="cuerpo">
	<div class="row">
		<div class="titular-pagina">
			<span class="titulo-grande"><%= t('botones.b3.texto') %></span>
		</div>

	</div>
</div>

<%= render 'principal/footer'%>
