<div class="uk-margin-large-bottom">
    <h4>SECRETARIO ADJUNTO ADMINISTRATIVO</h4>
    <h3 class="vino">Álvaro Baillet Gallardo</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>DIRECTOR DE RECURSOS HUMANOS</h4>
    <h3 class="vino">Adrián Rubio Rangel</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>DIRECTOR DE FINANZAS</h4>
    <h3 class="vino">Víctor Fernando Ruiz Aguilar</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>DIRECTOR DE PRESUPUESTO Y PROYECTOS ESPECIALES</h4>
    <h3 class="vino">Gerardo Gutiérrez Cortez</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>DIRECTOR DE SERVICIOS GENERALES</h4>
    <h3 class="vino">Raúl Cabrera Soto</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>AUDITOR INTERNO</h4>
    <h3 class="vino">Felipe Alejandro Castro González</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
