<h2 class="vino">Mooc: Literatura y cultura tradicional de México</h2>
    <div class="uk-grid uk-grid-large">
    <div class="uk-width-large-3-5 uk-text-left">
    <p>La especificidad de la cultura y la literatura “tradicional” radica tanto en su forma de transmisión como en que está creada de acuerdo con unos principios particulares, que no son los mismos de la literatura “culta”. Por oral y por tradicional no se debe entender, entonces, simplemente lo contrario de escrito, oficial o establecido, sino una forma específica de creación literaria y de cultura que tiene valor de identidad para una comunidad y que, por tanto, la comunidad conserva y transmite. Este curso sobre la literatura y cultura tradicional de México se concibe desde esa perspectiva y trata de mostrar aquellos rasgos que corresponden a señas de identidad y aceptación de una serie de principios estéticos, valores y formas de convivencia en torno a creaciones artísticas.</p>
    <a href="http://mx.televisioneducativa.gob.mx/courses/course-v1:El_Colegio_de_Mexico+CMLT1X+2016_2/about" target="_blank" class="ver-mas uk-margin-large-bottom uk-button-small">Más información</a>
    </div>
    <div class="uk-width-large-2-5">
    <h3 class="vino uk-margin-bottom-remove">Duración </h3>
    <h4 class="uk-margin-top-remove">22 de agosto al 3 de octubre 2016</h4>
    </div>
    </div>


