<div class="uk-margin-large-bottom">
    <h4>BIBLIOTECA "DANIEL COSÍO VILLEGAS"</h4>
    <h3 class="vino">Micaela Chávez Villa</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>COORDINACIÓN DE SERVICIOS DE CÓMPUTO</h4>
    <h3 class="vino">José Luis Arciga Torres </h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>COORDINACIÓN DE EVENTOS ESPECIALES</h4>
    <h3 class="vino">Ernesto Arturo Hernández Camarillo</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>DIRECCCIÓN DE ASUNTOS ESCOLARES</h4>
    <h3 class="vino">Laura Valverde González</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>DIRECCIÓN DE PUBLICACIONES</h4>
    <h3 class="vino">Gabriela Said Reyes</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
    <div class="uk-margin-large-bottom">
    <h4>AUDITOR INTERNO</h4>
    <h3 class="vino">Felipe Alejandro Castro González</h3>
    <p>Correo electrónico: correo@colmex.mx</p>
    <p>Teléfono: +(52) 55 54493000 Extensión: 0000</p>
    </div>
