/* Estilos para el directorio academico */
.center { 

 
		>select{
			font-weight: 600;
			font-size: 15px;
			padding: 2px 10px;
			font-weight: 600;
			border-width: 1px;
			height: 35px;
			width: 200px;
			border-radius: 5px;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			margin: 15px 10px;
			margin-left: 0;
			background: image-url("select.png") no-repeat 100% 50%;

			>option{
				font-weight: inherit;
				font-size: inherit;
			}
		}

		>input{
			border-radius: 5px;
			border: solid 1px #909090;
			height: 35px;
			position: relative;
			font-weight: 600;
			font-size: 15px;
			padding: 1px 5px;
			margin: 15px 0;
		}

		>input::-webkit-input-placeholder { color: #000; }
		>input:-moz-placeholder { color: #000; }
		>input::-moz-placeholder { color: #000; }
		>input:-ms-input-placeholder { color: #000; }
}

.letra {
	font-family: "Gotham SSm A", "Gotham SSm B", Lato, sans-serif;
	font-size: 30px;
	letter-spacing: 8px;
	color: #909090;
}

.numeros {
	font-family: "Gotham SSm A", "Gotham SSm B", Lato, sans-serif;
	font-size: 26px;
	/*letter-spacing: 8px;*/
	color: #909090;
}


#filtro-nombre { text-align: left; }
#filtro-mail { text-align: left; }
#filtro-linea { text-align: left; }
#filtro-centro { text-align: left; margin-bottom: 20px;}

#correo, #linea{
	width: 260px;
	margin-bottom: 4px;
}

#acordeon{
	padding-top: 5px;
}

#boton_limpiar{
	background-color: #7E3355;
	font-size: 18px;
	display: inline-block;
	border-radius: 1px;
	margin-left:15px;
	margin-top:20px;
	margin-bottom:30px;
	height: 30px;
	width: 190px;
	text-align: center;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

	a{
		color: #fff;
		line-height: 46px;
		display: block;
		height: 100%;

		span{
			display: inline-block;
			vertical-align: super;
			line-height: normal;
		}

		@media only screen and (min-width: 0px) and (max-width: 840px){
			span { font-size: 11px; } 
		}
		@media only screen and (min-width: 840px) and (max-width: 994px){
			span { font-size: 15px; } 
		}
	}
}

@media only screen and (max-width: 991px){
	#boton_limpiar { margin-top: 0; margin-bottom: 40px; }
}

#boton_limpiar:hover{
	background-color: #5E002B;
}
