/* Estilos para la sección de premios y distinciones */

.medio{
	width:50%;
	display: inline-block;
	float: left;
	padding-top: 100px;
	text-align: center;

	>p{
		font-size: 17px;
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		text-align: justify;
	}
}

.acordeon-premios{
	width: 100%;
	background-color: aqua;
}
