// Place all the styles related to the principal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Declaracion de variables

$altura_navbar: 60px;
$color_navbar: #E6E6E6;

$ancho_idioma: 100px;

$margen_superior_textos_navbar: 17px;
$color_textos_navbar: #909090;
$color_textos_navbar_sel: #993366;

$color_fondo_searchbox: #CCCCCC;
$color_borde_searchbox: #909090;
$tamano_lupa: 20px;

$ancho_mail: 200px;
$ancho_intranet: 100px;

$altura_div_logo: 150px;
$altura_logo: 60px;
$ancho_logo: 35%;
$margen_sup_logo: 45px;

$alto_div_menu: 70px;
$color_fondo_menus: #993366;
$padding_lat_menus: 5px;
$ancho_botones: 20%;
$color_texto_botones: #FFFFFF;
$padding_sup_texto_botones: 20px;
$tamano_texto_botones: 18px;
$padding_sup_top_op: 10px;
$padding_izq_der_op: 10px;
$ancho_opcion: 45px;
$color_seleccion_opcion: #993399;

$altura_div_slider: 550px;
$bullet_slider: #CCCCCC;
$bullet_slider_sel: #993366;
$ancho_flechas_slider: 80px;

$altura_div_eventos: 300px;
$ancho_eventos: 100%;
$ancho_flechas_eventos: 60px;
$color_flechas_eventos: #993366;
$ancho_division_eventos: 25%;

$altura_div_actividades: 110px;
$color_fondo_boton_actividades: #C76BB0;
$color_letra_boton_actividades: #FFFFFF;
$tamano_letra_boton_actividades: 15px;
$color_borde_boton_actividades: #993366;
$tamano_borde_boton_actividades: 2px;
$altura_boton_actividades: 50px;
$ancho_boton_actividades: 33.33%;                         

$altura_div_suscripcion: 70px;
$color_div_suscripcion: #993333;
$color_texto_suscripcion: #FFFFFF;
$fuente_label: "Whitney SSm";
$estilo_label: normal;
$tamano_label: 25px;
$peso_label: 500;
$padding_sup_label: 5px;
$ancho_textbox_suscripcion: 220px;
$color_textbox_suscripcion: #FFFFFF;
$margen_sup_textbox_suscripcion: 5px;
$margen_izq_textbox_suscripcion: 15px;
$margen_der_textbox_suscripcion: 20px;
$color_fondo_boton_suscripcion: #C76BB0;
$color_texto_boton_suscripcion: #FFFFFF;
$color_borde_boton_suscripcion: #993366;
$fuente_boton: "Whitney SSm";
$estilo_boton: normal;
$tamano_boton: 18px;
$peso_boton: 400;


$altura_div_revistas: 280px;

$altura_div_descubre: 700px;

$altura_div_logos: 500px;

$altura_div_frase: 250px;

$altura_div_transparencia: 250px;

$altura_div_footer: 400px;

//Mixins para evitar repeticiones

@mixin centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fuente_typography($familia, $estilo, $tamano, $peso){
	font-family: $familia + " A", $familia + " B";
	font-style: $estilo;
	font-weight: $peso;
	font-size: $tamano;
}

//Estilos de pagina

* {
	margin: 0;
	padding: 0;
}

.col-md1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);

/* Tipografía */

body {font-family: "Whitney SSm A", "Whitney SSm B", 'Lato', sans-serif; font-style: normal; font-weight: 400; font-size: 18px; color: #333333; }
h1, h2, h3, h4, h5, h6 {font-family: "Gotham SSm A", "Gotham SSm B", 'Lato', sans-serif;; font-style: normal; font-weight: 700;}
strong {font-weight: 600; color: #838383}
i {font-style: italic; }
a, a:hover, a:active, a:visited, a:link{  text-decoration: none; }
.titulo {}
.subtitulo {color: #838383}

#barra_nav{
	height: 60px;
	background-color: $color_navbar;

	.nav_opciones, .nav_opciones_idioma, .nav_opciones_mail, .nav_opciones_intranet{
		display: block;
		float: left;
		font-weight: 700;
		font-size: 16px;
		text-align: center;
		margin-top: 17px;
		color: #7F7F7F;
	}	

	.idioma{
		width: $ancho_idioma;

    .activo{
			color: $color_textos_navbar_sel;
		}

		.inactivo{
			color: $color_textos_navbar;
		}
	}

	.mail{
		width: $ancho_mail;
	}

	.intranet{
		width: $ancho_intranet;
	}

	.nav_opciones{
		a{
			color: $color_textos_navbar;
		}
		a:hover,a:active{
			color: $color_textos_navbar_sel;
		}
	}
	
	.navbar-right{
		margin-right: 30px;	

		.img_net{
			margin: 0 4px;
		}
	}
}

//Clase del contenedor del searchbox y boton de busqueda
.navbar-form{
	margin-top:0;
}

//Clase asociada al campo de texto de busqueda
.form-control{
	background-color: $color_fondo_searchbox;
	border-color: $color_borde_searchbox;
	color: $color_textos_navbar;
}

.form-control:focus{
	border-color: $color_textos_navbar_sel;
	box-shadow: 0 0 5px rgba(153, 51,102, 1);
}

//Clase asociada al boton de busqueda
.boton_lupa{
	background-color: $color_navbar;
	border: none;
	font-size: $tamano_lupa;
}




//Clase para alterar el div donde va el logotipo de colmex
#div_logo{
	height: $altura_div_logo;
	text-align: center;

	#img_logo{
		height: $altura_logo;
		width: $ancho_logo;
		margin-top: $margen_sup_logo;
	}
}

//Clase para alterar el div donde van los botones del menú
#div_menu{
	height: $alto_div_menu;

	.botones{
		overflow: visible;
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: #5E002B;
		padding: 0 $padding_lat_menus;
		z-index: 9999;

		.dropdown, .no-dropdown{
			float: left;
			width: $ancho_botones;
			text-align: center;
			height: 100%;
			
			a{
				display: inline-block;
				text-decoration: none;
				color: #FFFFFF;
				width: 100%;
				height: 100%;
				padding-top: 20px;
				font-size: 20px;
				font-weight: 600;
			}

			.dropdown-menu{
        background-color: #993366;
				text-align: left;
        padding: 0;
        opacity: 0.8;
        border-radius: 0px;
        border: none;
        margin: 0;

        li{

          a{
						background-color: #5E002B;
            padding: $padding_sup_top_op $padding_izq_der_op;
						color: #fff;
						font-size: 24px;
						font-weight: 600;
          }

          a:hover{
        
            background-color: #470020;
          }
        }
			}
		}

		.dropdown:hover .dropdown-menu{
			display: block;
		}
	}
}

//Clases que afectan al slider
#div_slider{
	height: $altura_div_slider;
	text-align: center;

	#myCarousel{
	    	position: relative;
	    	text-align: center;
	    	margin: 0 auto;
		padding: 0;
	    	max-height: $altura_div_slider;
		width:100%;

		.carousel-indicators li{
			border: none;
			background-color: $bullet_slider;
		}

		.carousel-indicators .active{
			border: none;
			background-color: $bullet_slider_sel;
		}

		.carousel-inner{
			div{
			
				img{
					max-height: $altura_div_slider;
					width: 100%;
				}
			}
		}
		.carousel-control.right, .carousel-control.left{
			opacity: 0.2;
      width: $ancho_flechas_slider;
		}

		.carousel-control.right:hover, .carousel-control.left:hover, .carousel-control.right:focus:hover, .carousel-control.left:focus:hover{
			opacity: 0.8;
		}
	}
}


//Clases que afectan la sección de eventos
#div_eventos{
	height: $altura_div_eventos;
	text-align: center;
	overflow: hidden;

	.carousel.slide{
		position: relative;
		height: 100%;
		text-align: center;
		width: $ancho_eventos;
		margin: 0 auto;
		padding: 0;

		.carousel-control.right, .carousel-control.left{
			opacity: 0.5;
			width: $ancho_flechas_eventos;
			color: $color_flechas_eventos;
		}

		.carousel-inner{
			height:100%;

			.item{
				float: left;
				text-align: center;
				height: 100%;
				width: calc(100% - #{$ancho_flechas_eventos});
				width: -moz-calc(100% - #{$ancho_flechas_eventos});
				width: -webkit-calc(100% - #{$ancho_flechas_eventos});
				padding-left: $ancho_flechas_eventos;

				.evento{
					float: left;
					height: 100%;
					width: $ancho_division_eventos;
					text-align: center;

					a{
						
					}
				}
			}
		}
	}
}

#div_actividades{
	height: $altura_div_actividades;
	text-align: center;
	display: block;
	
	#boton_actividades{
		background-color: $color_fondo_boton_actividades;
		color: $color_letra_boton_actividades;
		font-size: $tamano_letra_boton_actividades;
		text-decoration: none;
		display: inline-block;
		//padding-top: calc((#{$altura_boton_actividades} / 2) - (#{$tamano_letra_boton_actividades} / 2 ));
		border-color: $color_borde_boton_actividades;
		border-width: $tamano_borde_boton_actividades;
		border-style: solid;
		height: $altura_boton_actividades;
		width: $ancho_boton_actividades;
		position: relative;

		span{
			@include centrado;
		}
	}
}

#div_suscripcion{
	height: $altura_div_suscripcion;
	background-color: $color_div_suscripcion;
	text-align: center;

	.navbar-form{

		@include centrado;
		width: 100%;

		.form-group{

			label{
				@include fuente_typography($fuente_label, $estilo_label, $tamano_label, $peso_label);
				color: $color_texto_suscripcion;
				float: left;
				padding-top: $padding_sup_label;
			}

			.form-control{
				width: $ancho_textbox_suscripcion;
				background-color: $color_textbox_suscripcion;
				margin-top: $margen_sup_textbox_suscripcion;
				margin-left: $margen_izq_textbox_suscripcion;
				margin-right: $margen_der_textbox_suscripcion;
				border-radius: 0;
			}
		}

		button{
			background-color: $color_fondo_boton_suscripcion;
			color: $color_texto_boton_suscripcion;
			border-radius: 0;
			border-color: $color_borde_boton_suscripcion;
			@include fuente_typography($fuente_boton, $estilo_boton, $tamano_boton, $peso_boton);
		}
	}
}

#div_revistas{
	height: $altura_div_revistas;
	background-color: #F030C0;
}

#div_descubre{
	height: $altura_div_descubre;
	background-color: #F0F000;
}

#div_logos{
	height: $altura_div_logos;
	background-color: #00F0C0;
}

#div_frase{
	height: $altura_div_frase;
	background-color: #00C000;
}

#div_transparencia{
	height: $altura_div_transparencia;
	background-color: #6060F0;
}

#div_footer{
	height: 400px;
	background-color: #5E002B;
	position: relative;

	div{
		color: #fff;
		font-size: 16px;
		height: 75%;
		@include centrado;

		ul{

			li{
				list-style-type: none;

				a{
					color: #fff;
				}
			}
		}
	}

	#footer_der{
		text-align: left;
	}

	#footer_izq{
		text-align: right;
	}

	#footer_centro{
		text-align: center;
    border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		color: #fff;
		font-size: 16px;
		height: 75%;
		
		img{
			width: 40%;
		}
	}
}


