// Place all the styles related to the principal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Declaracion de variables

$ancho_idioma: 100px;

$margen_superior_textos_navbar: 17px;
$color_textos_navbar: #909090;
$color_textos_navbar_sel: #993366;

$color_fondo_searchbox: #CCCCCC;
$color_borde_searchbox: #909090;
$tamano_lupa: 20px;

$color_fondo_menus: #993366;
$padding_lat_menus: 5px;
$ancho_botones: 20%;
$color_texto_botones: #FFFFFF;
$padding_sup_texto_botones: 20px;
$tamano_texto_botones: 18px;
$padding_sup_top_op: 10px;
$padding_izq_der_op: 10px;
$ancho_opcion: 45px;
$color_seleccion_opcion: #993399;

$altura_div_slider: 550px;
$bullet_slider: #CCCCCC;
$bullet_slider_sel: #993366;
$ancho_flechas_slider: 80px;

$ancho_eventos: 100%;
$ancho_flechas_eventos: 60px;
$color_flechas_eventos: #993366;
$ancho_division_eventos: 25%;                         

$ancho_textbox_suscripcion: 220px;
$color_textbox_suscripcion: #FFFFFF;
$margen_sup_textbox_suscripcion: 5px;
$margen_izq_textbox_suscripcion: 15px;
$margen_der_textbox_suscripcion: 20px;
$color_fondo_boton_suscripcion: #C76BB0;
$color_texto_boton_suscripcion: #FFFFFF;
$color_borde_boton_suscripcion: #993366;

$altura_div_descubre: 700px;

//Mixins para evitar repeticiones

@mixin centrado {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}

//Estilos de pagina

* {
	margin: 0;
	padding: 0;
}

.col-md1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);

/* Tipografía */

body {font-family: "Whitney SSm A", "Whitney SSm B", 'Lato', sans-serif; font-style: normal; font-weight: 400; font-size: 18px; color: #333333; }
h1, h2, h3, h4, h5, h6 {font-family: "Gotham SSm A", "Gotham SSm B", 'Lato', sans-serif;; font-style: normal; font-weight: 700;}
strong {font-weight: 600; color: #838383}
i {font-style: italic; }
a, a:hover, a:active, a:visited, a:link{  text-decoration: none; }
.titulo {}
.subtitulo {color: #838383}
.titulo-chico{
	font-family: "Gotham SSm A", "Gotham SSm B"; 
	font-style: normal; 
	font-weight: 700; 
	font-size: 28px;
}

.titulo-chico.morado{ color: #7E3355; }

.titulo-grande{
	font-family: "Gotham SSm A", "Gotham SSm B"; 
	font-style: normal; 
	font-weight: 700; 
	font-size: 34px; 
	line-height:25px;
}

html, body{ height: 100%; }
.container-fluid { min-height: 100%; position: relative;} 

#contenedor_nav{
	padding: 0;
}

.navbar { border-radius: 0; margin-bottom: 0; }

.navbar-collapse { margin-right: 0; margin-left: 0;}

#barra_nav{

	background-color: #E6E6E6;
	border-radius: 0;

	.nav_opciones{
		display: block;
		float: left;
		font-weight: 700;
		font-size: 15px;
		text-align: center;
		color: #7F7F7F;
	}	

	.idioma{
		width: $ancho_idioma;
		padding-top: 10px;

    >.activo.en, .activo.sp{
			color: $color_textos_navbar_sel;
			width: $ancho_idioma / 2.5;
			
		}

		>.inactivo.en, .inactivo.sp{
			color: $color_textos_navbar;
			width: $ancho_idioma / 2.5;
		}

		>.activo.en, .inactivo.en{
			display: inline-block;
		}

		>.activo.sp, .inactivo.sp{
			display: inline-block;
			padding-left: 3px;
		}
	}	

	.mail{
		width: 210px;
		padding-top: 10px;

		img{
			width: 25px;
			margin-right: 5px;
		}
	}

	.intranet{
		width: 130px;
		padding-top: 10px;

		img{
			width: 20px;
			margin-right: 5px;
		}
	}

	@media only screen and (min-width: 0px) and (max-width: 768px){
		.borrable { display: none; }

		.navbar-nav { margin-left: 10px;}

		.navbar-nav.navbar-right { float: right !important;}

		.navbar-form.navbar-left { margin: 0; display: inline-block; }

		.form-group { margin: 0; padding: 0; float: left;}

    ul.nav.navbar-nav.reajustable { float: left; }
	}

	@media only screen and (min-width: 0px) and (max-width: 1024px), only screen and (min-device-width: 0px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
		.mail{
			width: 80px;

			img{
				width: 25px;
				margin-right: 5px;
			}
		}

		.intranet{
			width: 80px;

			img{
				width: 20px;
				margin-right: 5px;
			}
		}
	}

	.nav_opciones{
		a{
			color: $color_textos_navbar;
		}
		a:hover,a:active{
			color: $color_textos_navbar_sel;
		}
	}
	
	.navbar-right{
		margin-right: 10px;	

		>li{

			>a{
				padding: 15px 3px;
			}	
		}
		
		@media only screen and (min-width: 0px) and (max-width: 1070px), only screen and (min-device-width: 0px) and (max-device-width: 1070px) and (-webkit-min-device-pixel-ratio: 1) {
			.mostrable{ display: inline-block; }
		}

		@media only screen and (min-width: 1071px), only screen and (min-device-width: 1071px) and (-webkit-min-device-pixel-ratio: 1) {
			.mostrable{ display: none; }
		}
	}

  @media only screen and (min-width: 0px) and (max-width: 1070px), only screen and (min-device-width: 0px) and (max-device-width: 1070px) and (-webkit-min-device-pixel-ratio: 1) {
		.borrable{ display: none; }
	}
}

//Clase asociada al campo de texto de busqueda
.form-control{
	background-color: $color_fondo_searchbox;
	border-color: $color_borde_searchbox;
	color: $color_textos_navbar;
}

.form-control:focus{
	border-color: $color_textos_navbar_sel;
	box-shadow: 0 0 5px rgba(153, 51,102, 1);
}

//Clase asociada al boton de busqueda
.boton_lupa{
	background-color: #E6E6E6;
	border: none;
	font-size: $tamano_lupa;
}

//Estilos asociados al offcanvas
.nav>li>a:hover { background-color: transparent;}

.uk-offcanvas-bar { background-color: #740020; }

.uk-accordion-title { margin-bottom: 5px; }

a.uk-accordion-title { height: 34px; font-family: "Gotham SSm A", "Gotham SSm B";} 

.uk-nav-offcanvas>li>.uk-accordion-title { color: #444444; font-weight: bold;} 

.uk-nav.uk-nav-offcanvas ul { a:hover, a:visited, a:link, a:active { background-color: #740020; } }


.nav>li { float: left; >a>img{ margin: 2px;} }

//Clase para alterar el div donde va el logotipo de colmex
#div_logo{
	height: 150px;
	text-align: center;
	position: relative;

	#img_logo{
		width: 50%;
		display: inline-block;
		@include centrado;
	}
}

//Clase para alterar el div donde van los botones del menú
#div_menu{
	height: 70px;

	.botones{
		overflow: visible;
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 9999;

		.dropdown, .no-dropdown{
			float: left;
			margin: 0 1px;
			background-color: #5E002B;
			text-align: center;
			height: 100%;
			position: relative;
			width: calc(#{$ancho_botones} - 2px);
			width: -moz-calc(#{$ancho_botones} - 2px);
			width: -webkit-calc(#{$ancho_botones} - 2px);
			
			a{
				display: inline-block;
				text-decoration: none;
				color: #FFFFFF;
				width: 100%;
				height: 100%;
				
				span{
					width: 100%;
					@include centrado;
				}
			}

			.dropdown-menu{
        background-color: #993366;
				text-align: left;
        padding: 0;
        opacity: 0.8;
        border-radius: 0px;
        border: none;
        margin: 0;
				min-width: 100%;
				
        li{

          a{
						background-color: #5E002B;
            padding: $padding_sup_top_op $padding_izq_der_op;
						color: #fff;
						font-size: 17px;
						font-weight: 600;
          }

          a:hover{
        
            background-color: #470020;
          }
        }
			}
		}

		.dropdown:hover, .no-dropdown:hover{
			background-color: #470020;
		}

		.dropdown:hover .dropdown-menu{
			display: block;
		}
	}
}

@media only screen and (min-width: 0px) and (max-width: 1024px), only screen and (min-device-width: 0px) and (max-device-width: 1024px) and(-webkit-min-device-pixel-ratio: 1) {
	#div_menu{ display: none; } 
}

//Clases que afectan al slider
#div_slider{
	text-align: center;
	height: 550px;

	#myCarousel{
	    	position: relative;
	    	text-align: center;
	    	margin: 0 auto;
				padding: 0;
	    	height: 100%;
				width:100%;

		.carousel-indicators li{
			border: none;
			background-color: $bullet_slider;
		}

		.carousel-indicators .active{
			border: none;
			background-color: $bullet_slider_sel;
		}

		.carousel-inner{
			display: inline-block;
			height: 100%;

			.item, .item.active{
				overflow: hidden;
				height: 100%;
			
				.liga_img{

					.imagen_slider_fondo{
						width: 100%;
						text-align: center;
						@include centrado;
					}
				
					.imagen_slider_sobre{
						width: 20%;
						top: 50%;
						left: 50%;
						position: absolute;
					}
				}
			}
		}
		.carousel-control.right, .carousel-control.left{
			opacity: 0.2;
      width: $ancho_flechas_slider;
		}

		.carousel-control.right:hover, .carousel-control.left:hover, .carousel-control.right:focus:hover, .carousel-control.left:focus:hover{
			opacity: 0.8;
		}
	}
}

@media only screen and (min-width: 600px) and (max-width: 1024px), only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
	#div_slider{ height: 450px; } 
}

@media only screen and (min-width: 0px) and (max-width: 768px), only screen and (min-device-width: 0px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
	#div_slider{ height: 400px; } 
}

//Clases que afectan la sección de eventos
#div_eventos{
	height: 230px;
	text-align: center;
	overflow: hidden;

	.carousel.slide{
		position: relative;
		height: 100%;
		text-align: center;
		width: $ancho_eventos;
		margin: 0 auto;
		padding: 0;

		.carousel-control.right, .carousel-control.left{
			opacity: 0.5;
			width: $ancho_flechas_eventos;
			color: $color_flechas_eventos;
		}

		.carousel-inner{
			height:100%;

			.item{
				float: left;
				text-align: center;
				height: 100%;
				width: calc(100% - #{$ancho_flechas_eventos});
				width: -moz-calc(100% - #{$ancho_flechas_eventos});
				width: -webkit-calc(100% - #{$ancho_flechas_eventos});
				padding-left: $ancho_flechas_eventos;

				.evento{
					float: left;
					height: 100%;
					width: $ancho_division_eventos;
					text-align: center;

					.img_evento{
						float: left;
						min-width: 88px;
						width: 25%;
						height: 100%;
						
						img{
							width: 80%;
							padding-top: 15px;
						}
					}

					.desc_evento{
						max-width: calc(100% - 88px);
						max-width: -moz-calc(100% - 88px);
						max-width: -webkit-calc(100% - 88px);
						width: 75%;
						height: 100%;
						overflow: hidden;
						font-size: 13px;
					
						.tipo_evento{
							width: 100%;
							height: 25%;
							vertical-align: bottom;
							text-align: left;
							position: relative;

							p{
								position: absolute;
								bottom: 0;
								font-size: 14px;
							}
						}

						.titulo_evento{
							width: 100%;
							height: 25%;
							text-align: left;
							color: #5E002B;
							
						}

						.lugar_fecha_evento{
							width: 100%;
							height: 37.5%;

							.cal{
								width: 8.33%;
								height: 100%;
								float: left;
							}

							.datos_evento{
								width: 91.66%;
								height: 100%;
								text-align: left;
								font-size: 10px;
								color: #999999;
							}
						}

						.liga_evento{
							width: 100%;
							height: 12.5%;
							text-align: right;
							
							a{
								color: #5E002B;
							}
							a:hover, a:active{
								color: #470020;
							}
						}
					}
				}

				/*@media only screen and (min-width: 0px) and (max-width: 768px), only screen and (min-device-width: 0px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
					.evento { width: 100%; }
				}*/

				@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
					.evento { 
						width: 50%;
						padding: 0 6%;

						.img_evento { 
							max-width: 105px;

							img { padding-top: 25px; } 
						}
						
					}
				}

			}
		}
	}
}

//Estilos que afectan al botón de actividades
#div_actividades{
	height: 110px;
	text-align: center;
	display: block;
	position: relative;
	
	#boton_actividades{
		background-color: #9E6680;
		font-size: 18px;
		display: inline-block;
		border-color: #470020;
		border-width: 2px;
		border-style: solid;
		height: 50px;
		width: 33.33%;
		text-align: center;
		@include centrado;

		a{
			color: #fff;
			line-height: 46px;
			display: block;

			span{
				display: inline-block;
				vertical-align: middle;
				line-height: normal;
			}

			@media only screen and (min-width: 0px) and (max-width: 840px), only screen and (min-device-width: 0px) and (max-device-width: 840px) and (-webkit-min-device-pixel-ratio: 1){
				span { font-size: 11px; } 
			}
			@media only screen and (min-width: 840px) and (max-width: 994px), only screen and (min-device-width: 840px) and (max-device-width: 994px) and (-webkit-min-device-pixel-ratio: 1){
				span { font-size: 15px; } 
			}
		}
	}
}

//Estilos que afectan a la sección de suscripción
#div_suscripcion{
	height: 70px;
	background-color: #7E3355;
	text-align: center;
	display: block;

	#forma_suscripcion{
		margin: 14.8px auto;
		width: 100%;

		.form-group{

			label{
				color: #fff;
				float: left;
				padding-top: 10px;
			}

			.form-control{
				width: $ancho_textbox_suscripcion;
				background-color: $color_textbox_suscripcion;
				margin-top: $margen_sup_textbox_suscripcion;
				margin-left: $margen_izq_textbox_suscripcion;
				margin-right: $margen_der_textbox_suscripcion;
				border-radius: 0;
			}
		}

		button{
			background-color: #9E6680;
			color: #fff;
			border-radius: 0;
			border-color: #470020;
			margin-top: 5px;
		}
	}
}


@media only screen and (min-width: 0px) and (max-width: 767px), only screen and (min-device-width: 0px) and (max-device-width: 384px) and (-webkit-min-device-pixel-ratio: 2){
	#div_suscripcion{
		height: 130px;
		#forma_suscripcion{
			height: 100%;
			padding: 0;
			margin: 0 auto;
			.form-group{
				label { float: none; }
				.form-control {margin: 0 auto;}
			}
		}
	}
}

//Clases que afectan a la sección de revistas
#div_revistas{
	height: 280px;
	background-color: #FFFFFF;

	.revista{
		height: 100%;
		position: relative;

		a{ 
			img{ 
				@include centrado; 
				max-height: 200px;
				max-width: 350px;
			} 	
		}
	}
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
	#div_revistas{ 
		height: 180px;
		.revista { a { img { max-height: 120px; max-width: 190px; } } } 
	}
}

#div_descubre{
	height: $altura_div_descubre;
	background-color: #F0F000;
}


#fundacion-colmex { 
	height: 500px;
	padding: 30px 15px;

	#div-donacion{ 
		background-color: #F9F9F9;
		width: 50%; 
		height: 100%; 
		display: inline-block;
		float: left;

		p{
			color: #4D4D4D;
			margin-bottom: 0;
			padding: 0 25px;
			padding-top: 100px;
			display: block;
			height: 80%;
		}
		
		@media only screen and (min-width: 0px) and (max-width: 520px), only screen and (min-device-width: 0px) and (max-device-width: 520px) and (-webkit-min-device-pixel-ratio: 1){
			p { padding-top: 35px; font-size: 13px; }
		}

		@media only screen and (min-width: 520px) and (max-width: 570px), only screen and (min-device-width: 520px) and (max-device-width: 570px) and (-webkit-min-device-pixel-ratio: 1){
			p { padding-top: 45px; font-size: 15px; }
		}

		@media only screen and (min-width: 570px) and (max-width: 670px), only screen and (min-device-width: 570px) and (max-device-width: 670px) and (-webkit-min-device-pixel-ratio: 1){
			p { padding-top: 45px; font-size: 17px; }
		}

		@media only screen and (min-width: 670px) and (max-width: 767px), only screen and (min-device-width: 670px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
			p { padding-top: 45px; font-size: 20px; }
		}

		@media only screen and (min-width: 767px) and (max-width: 970px){
			p { padding-top: 25px; font-size: 13px; }
		}

		@media only screen and (min-width: 970px) and (max-width: 1260px), only screen and (min-device-width: 970px) and (max-device-width: 1260px) and (-webkit-min-device-pixel-ratio: 1){
			p { padding-top: 40px; font-size: 14px; }
		}

		#contenedor-botones{
			display: table;
			width: 100%;
			border-collapse: separate;
			border-spacing: 20px 0;
			padding: 0 5px;

			.boton{
				display: table-cell;
				background-color: #9E6680;
				font-size: 14px;
				border-color: #470020;
				border-width: 2px;
				border-style: solid;
				height: 50px;
				width: 110px;
				text-align: center;
	

				.boton-donar{
					color: #fff;
					line-height: 46px;
					display: block;

					span{
						display: inline-block;
						vertical-align: middle;
						line-height: normal;
					}

					@media only screen and (min-width: 0px) and (max-width: 1070px), only screen and (min-device-width: 0px) and (max-device-width: 1070px) and (-webkit-min-device-pixel-ratio: 1){
						span { font-size: 11px; } 
					}
				}
			}

			#conocer{
				background-color: #9E6680;
				border: solid 2px #5E002B;
			}

			#donar{	
				background-color: #7E3355;
				border: solid 2px #470020;
			}
		}
	}

	#div-img-fundacion{ 
		width: 50%; 
		height: 100%;
		display: inline-block;
		position: relative;  
		img { @include centrado; width: 100%; height: 100%; }
	}
}

#video-colmex{ 
	height: 500px;
	position: relative;
	img { @include centrado; width: 90%; height: 440px; } 
}

@media only screen and (min-width: 0px) and (max-width: 1260px), only screen and (min-device-width: 0px) and (max-device-width: 1260px) and (-webkit-min-device-pixel-ratio: 1){
	#fundacion-colmex, #video-colmex { height: 350px; }
}

@media only screen and (min-width: 0px) and (max-width: 767px), only screen and (min-device-width: 0px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
	#video-colmex { img { height: 300px; } }
	#fundacion-colmex { padding-bottom: 0; }
}

@media only screen and (min-width: 585px) and (max-width: 767px){
	#fundacion-colmex{ padding: 30px 30px 0 30px;
		#div-donacion { width: 60%; }
		#div-img-fundacion { width: 40%; }
 }
}

@media only screen and (min-width: 767px) and (max-width: 1260px), only screen and (min-device-width: 767px) and (max-device-width: 1260px) and (-wrbkit-min-device-pixel-ratio: 1){
		#video-colmex { img { height: 294px; } }
	}

//Estilos que afectan a la sección de la frase
#div_frase{
	height: 250px;
	background-color: #FFFFFF;
}

//Estilos que afectan a la sección de transparencia
#div_transparencia{
	height: 250px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 250px;
	a { 
		img { 
			display: inline-block; 
			max-height: 200px;
			max-width: 180px;
			margin: 0 20px;
		} 
	}
}

@media only screen and (min-width: 0px) and (max-width: 417px), only screen and (min-device-width: 0px) and (max-device-width: 417px) and (-webkit-min-device-pixel-ratio: 1){
	#div_transparencia { height: 300px; line-height: 150px; }
}

#cuerpo{ padding-bottom: 300px; }

#div_footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:300px;
	background-color: #5E002B;

	#footer_der, #footer_izq, #footer_centro{
		color: #fff;
		font-size: 15px;
		background-color: #5E002B;
		height: 300px;

		.links{
			display: table;
			font-size: 16px;
			width: 100%;
			height: 100%;
			padding-left: 0;

			li{
				display: table-row;
				list-style-type: none;

				a{
					color: #fff;
				}
			}
		}
	}

	#footer_der{
		margin-top: 50px;
		text-align: left;
		padding-left: 20px;
	}

	#footer_izq{
		margin-top: 50px;
		text-align: right;
		padding-right: 20px;
	}

	#footer_centro{
		margin-top: 50px;
		text-align: center;
    border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		color: #fff;
		font-size: 16px;
		
		img{
			width: 40%;
		}
	}

  @media only screen and (min-width: 0px) and (max-width: 1460px), only screen and (min-device-width: 0px) and (max-device-width: 1460px) and (-webkit-min-device-pixel-ratio: 1){
		#footer_der, #footer_izq, #footer_centro { height: 200px; }
		#footer_centro { font-size: 13px;}
	}

  @media only screen and (min-width: 0px) and (max-width: 1160px), only screen and (min-device-width: 0px) and (max-device-width: 1160px) and (-webkit-min-device-pixel-ratio: 1){
		#footer_der, #footer_izq { .links { font-size: 13px; } }
	} 

	@media only screen and (min-width: 0px) and (max-width: 992px), only screen and (min-device-width: 0px) and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 1){
		#footer_izq { display: none; }
		#footer_centro { border: none; }
		#footer_der { 
			height: auto;
			padding-left: 0;
			margin-top: 10px;
			.links { 
				margin: 5px auto;
				width: auto;
				li { float: left; padding: 0 5px; } 
			}
		}
	}

	#redes_footer{
		height: 50px;
		background-color: #5E002B;
		text-align: center;
		position: relative;

		.botones_footer{
			float: left;
			list-style-type: none;
			width: 100%;
			margin-bottom: 0;
			display: block;
			@include centrado;

			img{
				padding: 0 4px;
			}
		}	
	}
}



