<div class="acordeon-premios">
<script type="text/javascript" src="../js/accordion.js"></script>

	<div class="uk-accordion" data-uk-accordion>
		<% @premiados.each do |p| %>
			<h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", p.nombre) %></h3>
			<div class="uk-accordion-content">
				<ul class="uk-list uk-list-line">
					<li style="margin-bottom: 20px; font-size: 15px;"><p><%=  p.descripcion.html_safe %></p></li>
				</ul>
				<a href=<%= p.liga %> target="_blank" class="ver-mas uk-margin-large-bottom uk-button-small">Más información</a>
			</div>
		<% end %>
	</div>
</div>
