<div class="acordeon-premios">
<script type="text/javascript" src="../js/accordion.js"></script>

	<div class="uk-accordion" data-uk-accordion>
		<% @premiados.each do |p| %>
			<h3 class="uk-accordion-title">
				<div class="wrapper-links-doc">
					<div class="img-link-doc">
						<%= image_tag(imagen, :class => "leave_img") + image_tag(imagen_hover, :class => "hover_img") %>
					</div>
					<div class="liga-doc">
						<%= p.nombre %>
					</div>
				</div>
			</h3>
			<div class="uk-accordion-content">
				<ul class="uk-list uk-list-line">
					<li style="margin-bottom: 20px; font-size: 15px;"><%=  p.descripcion %></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>
