<div class="row">
	<div class="col-xs-12" style="padding-left:0;">
		<span class="titulo-grande" style="border:none;"><%= params[:locale] == "es" ? "Convocatorias anteriores" : "Convocatorias anteriores" %></span><br>
	</div>
</div>

<div class="row">
	<% @convs.each do |c| %>
	<div class="col-xs-12 col-md-6" style="padding:5px; margin 5px;text-align:center;">
		<a href="<%= c.documento.url %>" target="_blank">
		<img src="<%= c.imagen.url %>">
		</a>
	</div>
<% end %>
</div>
