<p>&nbsp;</p>
<p>La información sobre las Licitaciones Públicas Nacionales puede ser consultada en la Dirección de Servicios Generales.</p>
    <a href="http://sg.colmex.mx/index.php/procedimientos2010/licitaciones-publicas-nacionales" class="ver-mas uk-margin-large-bottom uk-button-small">Ver más</a>
