
<% parts = {"Profesores eméritos": "emerito", "Programas docentes": "progs", "Directorio de Autoridades": "auts", "Categorías de Premios": "cats_p", "Premios y distinciones": "pd", "Documentos varios": "docs", "Descubres": "descs", "Categorías de 'Descubre'": "cats_d", "Imágenes de slider": "slider", "Cátedras y seminarios": "sems", "Frases en página principal": "frases", "Directorio académico": "acad", "Usuarios gestores": "admins"} %>

	<%= render ('panel/form_'+parts[params[:set].to_sym]) %>

<script type="text/javascript">
window.addEventListener('load page:load', function(){
  var groupElement = document.querySelectorAll("[data-trix-button-group='text-tools']");
	try{
		Trix.config.textAttributes.color = { 
			style: { color: "#7E3355" },
  		parser: function(element) {
  			return element.style.color === "#7E3355"
  		},
  		inheritable: true
 		}
		Trix.config.textAttributes.italic.tagName = "i";
 		var buttonHTML = "<button type=\"button\" class=\"trix-button trix-button-icon\" data-trix-attribute=\"color\" title=\"Color\" tabindex=\"-1\"><div style=\"display:table-cell;background-color:#7E3355;width:20px;height:20px;position:relative;top:50%;left:50%;transform:translate(-50%,0%);\"></div></button>";
		console.log(groupElement);
		for(var i in groupElement){
			groupElement[i].insertAdjacentHTML("beforeend", buttonHTML);
		}
	}
	catch(err){
		console.log(err);
	}
});
</script>
