<!DOCTYPE html>
<html>
<head>
  <title>El Colegio de México, A.C.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7936112/7663952/css/fonts.css" />
</head>
<body>

  <%= yield %>

</body>
<script type="text/javascript" src="../js/uikit.js"></script>
<script type="text/javascript" src="../js/form-select.js"></script>
<script type="text/javascript" src="../js/datepicker.js"></script>
<% if (controller_name+"/"+action_name) != "principal/principal" %>
  <script type="text/javascript" src="../js/escala_auto.js"></script>
<% end %>
</html>
